@charset "UTF-8";

.container {
    width: 100% !important;
  }
  body {
    margin: 0;
    background: white !important;
  }

  .list-container {
    display: flex;
    width: 1180px;
    margin: 0 auto;
    gap: 20px;
    background-color: #fff;
    min-height: 800px;
  }

  /* 사이드바 */
  .sidebar {
    width: 20%;
    background-color: #fff;
    border-right: 1px solid #e5e7eb;
    padding: 20px;
  }

  .sidebar h3 {
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 5px;
  }
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a {
    color: #333;
  }
  .sidebar ul li {
    margin-bottom: 3px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 700px;
  }

   .accordion {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .accordion__section + .accordion__section { margin-top: 6px; }

  /* 섹션 헤더 버튼 */
  .accordion__toggle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    border:none;
    padding: 12px;
    background: none;          /* 색상 없음 */
    font: inherit;
    line-height: 1.2;
    cursor: pointer;
  }
  .accordion__toggle:focus-visible {
    outline: 2px solid currentColor; /* 시스템 색상 사용 */
    outline-offset: 2px;
  }
  span {
    font-weight: 700;
  }
  /* 화살표 */
  .chevron {
    width: 18px; height: 18px; flex: 0 0 18px;
    transition: transform 160ms ease;
  }
  .accordion__toggle[aria-expanded="true"] .chevron {
    transform: rotate(180deg);
  }

  /* 패널(하위 메뉴) */
  .accordion__panel {
    border:none;
    margin: 0 0 10px 10px;
    padding: 0 0 15px 10px;
  }
  .submenu {
    list-style: none;
    margin: 0;
    padding: 2px 0 8px 0;
    display: grid;
    gap: 2px;
    background-color:#f7f7f7;
    border-radius: 10px;
  }
  .submenu__item {
    border: 0;
    background: none;
    padding: 3px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font: inherit;
    font-size: 11px;
  }
  .submenu__item:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }
  /* 메인 콘텐츠 */
  .main {
    width: 80%;
    padding: 20px;
    min-height: 800px;
  }
.temporary__storage {
/*delete this*/
  width: 220px;
  height: 290px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-card {
  width: 200px;
  height: 270px;
  position: relative;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  transition: all .2s ease;
}

.image {
  width: 100%;
  height: 160px;
  position: absolute;
  background-color: white;
  cursor: pointer;
  transition: all .2s ease;
  border-radius: 15px;
}

.list-card::before {
  position: absolute;
  top: 7px;
  left: 7px;
  font-weight: 900;
  font-size: .8em;
  background-color: white;
  border-radius: 5px;
  padding: 3px 5px;
}

.list-card::after {
  position: absolute;
  bottom: 7px;
  left: 7px;
  font-weight: 300;
  font-size: .7em;
  background-color: white;
  border-radius: 2px;
  padding: 3px 5px;
}

.image__overlay {
  width: 100%;
  height: 160px;
}
label {
  font-weight: 500;
}

.list-card:hover {
  transform: translate(5px, -5px);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.content__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content__body {
  display: flex;
  flex-direction: column;
}

.stream__title {
  font-weight: 900;
  width: 190px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.event {
  cursor: pointer;
}

.streamer__name, .event {
  font-size: .8em;
  font-weight: 400;
  color: black;
}

.categories__btn {
  text-decoration: none;
  color: rgb(73, 71, 71);
  font-size: .8em;
  background-color: rgb(220, 220, 220);
  padding: 2px 8px;
  border-radius: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

:root {
  --primary: #7453fc;
  --greyLight: #7453fc;
  --greyDark: #2d4848;
}

/* 페이지네이션 컨테이너 */
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  margin: 3rem auto;
  border-radius: 0.6rem;
  background: #ffffff;
  box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
}

/* 각 요소 공통 */
.page__numbers, .page__btn, .page__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
}

/* 숫자 버튼 */
.page__numbers {
  width: 20px;
  height: 20px;
  border-radius: 0.4rem;
  transition: all 0.3s ease;
}
.page__numbers:hover {
  color: var(--primary);
}
.page__numbers.active {
  color: #fff;
  background: var(--primary);
  font-weight: 600;
  border: 1px solid var(--primary);
}
.page__btn {
  color: var(--greyLight);
  pointer-events: none;
}
.page__btn.active {
  color: var(--greyDark);
  pointer-events: initial;
}
.page__btn.active:hover {
  color: var(--primary);
}
.number {
  position: absolute;
  top: 2.1875rem;
  left: -1.25rem;
  color: #16a085;
  font-size: 2rem;
  font-family: Helvetiva, Arial, sans-serif;
}

.list {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem 2rem 0.5rem;
}

.list__item {
  margin: 0 0 0.5rem 0;
  padding: 0;
}

.label--checkbox,
.label--radio {
  position: relative;
  margin: 0.5rem;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
}

.checkbox {
  position: relative;
  top: -0.375rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
.checkbox:before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: rotate(-45deg) scale(0, 0);
  -moz-transform: rotate(-45deg) scale(0, 0);
  -ms-transform: rotate(-45deg) scale(0, 0);
  -o-transform: rotate(-45deg) scale(0, 0);
  transform: rotate(-45deg) scale(0, 0);
  content: "";
  position: absolute;
  left: 0.1875rem;
  top: 0.125rem;
  z-index: 1;
  width: 0.75rem;
  height: 0.375rem;
  border: 2px solid #16a085;
  border-top-style: none;
  border-right-style: none;
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg) scale(1, 1);
  -moz-transform: rotate(-45deg) scale(1, 1);
  -ms-transform: rotate(-45deg) scale(1, 1);
  -o-transform: rotate(-45deg) scale(1, 1);
  transform: rotate(-45deg) scale(1, 1);
}
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border: 2px solid #f2f2f2;
  cursor: pointer;
}

.radio {
  position: relative;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
.radio:before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  content: "";
  position: absolute;
  top: 0.08rem;
  left: 0.125rem;
  z-index: 1;
  width: 0.50rem;
  height: 0.50rem;
  background: #7453fc;
  border-radius: 50%;
}
.radio:checked:before {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio:after {
  content: "";
  position: absolute;
  top: -0.15rem;
  left: -0.125rem;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
}
.label--radio {
  display: flex;
  align-items: center;  /* 세로 가운데 정렬 */
  gap: 6px;             /* 버튼과 텍스트 사이 여백 */
}

.label--radio .radio {
  display: inline-block;
  margin: 0;            /* 브라우저 기본 여백 제거 */
  vertical-align: middle;
}

.list__item {
  list-style: none;
  margin-bottom: 6px;
}
::selection {
  color: #fff;
  background: #7453fc;
}
.wrapper {
  width: 200px;
  padding: 10px 30px 30px 10px;
}
header h2 {
  font-size: 24px;
  font-weight: 600;
}
header p {
  margin-top: 5px;
  font-size: 16px;
}
.price-input {
  width: 100%;
  display: flex;
  margin: 20px 0 20px;
  border:none;
  
}
.price-input .field {
  display: flex;
  width: 100%;
  align-items: center;
}
.field input {
  width: 50px;
  height: 100%;
  outline: none;
  font-size: 10px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #dcdcdc;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 5%;
  right: 80%;
  position: absolute;
  border-radius: 5px;
  background: #7453fc;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #7453fc;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #7453fc;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

/* Support */
.support-box {
  top: 2rem;
  position: relative;
  bottom: 0;
  text-align: center;
  display: block;
}
.b-btn {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.b-btn.paypal i {
  color: blue;
}
.b-btn:hover {
  text-decoration: none;
  font-weight: bold;
}
.b-btn i {
  font-size: 20px;
  color: yellow;
  margin-top: 2rem;
}

 /* start 검색바 */
.search button {
  border: none;
  background: none;
  color: #8b8ba7;
}
.search {
  --timing: 0.3s;
  --width-of-input: 500px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #2f2ee9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
  
}
.search_input {
  font-size: 1.3rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
.search:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
.search:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
.search:focus-within:before {
  transform: scale(1);
}
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
.search svg {
  width: 17px;
  margin-top: 3px;
}
/* end 검색바 */ 